* {
    font-family: "Poppins", sans-serif;
    /*background-color: rgb(86, 179, 255);*/
    background-color: rgb(192, 216, 231);
    margin: 0;
    padding: 0;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
    font-size: 39px;
    margin: 15px;
}

.navbar a {
    display: block;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
    color:rgb(78, 76, 245);
}

.hero-img {
    background-color: rgb(197, 234, 248);
    height: 750px;
    margin: 0;
    padding: 0;
    border-style: solid;
}

.hero-img img {
    text-align: center;
    width: 28%;
    height: 100%;
}

.hero-img p {
    float: right;
    background-color: rgb(184, 228, 245)
}

.img-txt {
    top:50%;
    bottom:50%;
    position: absolute;
    font-size: 75px; 
    font-weight: bolder;
    margin: 25px;
    align-items: center;
    /*color: rgb(0, 193, 252);*/
    color: black;
    text-shadow: white 20px 11px 7px, 25px 20px 25px blue;
    letter-spacing: 10px; 
}

.nav-btns button {
    float: right;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

.store-hp {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 75px;
}

.categories-cont {
    margin: 70px 15px;
    padding: 15px;
    color: black;
}

.col-3 {
    flex-basis: 30%;
    margin-bottom: 25px;
    text-align: center;
    background-color: rgb(184, 228, 245);
}

.col-3 img {
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    background-color: rgb(184, 228, 245);

}

.col-3 button {
    font-size: 2em;
    color: whitesmoke;
    background-color: rgb(136, 191, 247);
    cursor: pointer;

}

.col-3 h2 {
    background-color: rgb(184, 228, 245);
}

.small-cont {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.row {
    display: flex;
    border: 3px solid black;
    background-color:rgb(184, 228, 245);
    text-align: center;
}


.featured-container {
    row-gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;

}

.store-item img:hover{
    background-color: violet;
}

.store-item img {
    background-size: cover;
    width: 400px;
    height: 450px;
    border:black solid 4px;
    border-radius: 5%;
}

.p-title {
    text-align: center;
}